{% load static %}
<html>
    <head>
        

        <!--Bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <!--Iconos de Bootstrap-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

        <!--Fuente del titulo-->
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

        <!--ICONO DEL TITLE-->
        <link rel="icon" href="{% static 'img/icon3.png' %}">


        <!--CSS static-->
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

        <title>Torrent blog</title>
    </head>

    <body style="background-color: #ffc0cb;">

         <!--NAVBAR CONTAINER-->

        <div class="container-fluid">

            <div  style="background-color: black;" class="row">
            <div style="color: chocolate;" class="col-md-1"><i class="bi bi-info-square-fill"></i> Redes:</div>
            <div class="col-md-1"><a style="color: #0053a0;" class="link" href="http://facebook.com" target="_blank"><i class="bi bi-facebook"></i> Facebook</a></div>
            <div class="col-md-1"><a style="color: #b00b69;" class="link" href="http://instagram.com" target="_blank"><i class="bi bi-instagram"></i> Instagram</a></div>
            <div class="col-md-1"><a style="color: #53BFA4;" class="link" href="http://twitter.com" target="_blank"><i class="bi bi-twitter"></i> Twitter</a></div>
            <div class="col-md-1"><a style="color: red;" class="link" href="http://youtube.com" target="_blank"><i class="bi bi-youtube"></i> Youtube</a></div>
            <div style="color: white;" class="col-md-1"><i class="bi bi-three-dots-vertical"></i>   ARIEL</div>
        
            <div style="color: white;" class="col-md-1">BLOG   <i class="bi bi-three-dots-vertical"></i></div>
            <div style="color: chocolate;" class="col-md-1"><i class="bi bi-envelope"></i> Contacto:</div>
            <div class="col-md-1"><a style="color: green;" class="link" href="http://whatsapp.com" target="_blank"><i class="bi bi-whatsapp"></i> Whatsapp</a></div>
            <div class="col-md-1"><a style="color: #0095c8;" class="link" href="https://web.telegram.org/z/" target="_blank"><i class="bi bi-telegram"></i> Telegram</a></div>
            <div class="col-md-1"><a style="color: #0c4cc2;" class="link" href="http://discord.com" target="_blank"><i class="bi bi-discord"></i> Discord</a></div>
            <div class="col-md-1"><a style="color: skyblue;" class="link" href="http://gmail.com" target="_blank"><i style="color: red;" class="bi bi-google"></i> Mail</a></div>
        
            </div>
        </div>

        <div class="page-header">
            {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
              </svg></a>

            <a href="{% url 'post_draft_list' %}" class="top-menu"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg></a>
              
              <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>


            {% else %}
            <a href="{% url 'login' %}" class="top-menu"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
              </svg></a>
            {% endif %}

            <!-- Búsqueda Google -->

            <!--BUSCADOR-->
        <form method=GET action="http://www.google.com/search" target="_blank">
            <div class="container justify-content-center d-flex">
            <div class="col-lg-8 mt-3">
                <div class="input-group">
                <input type="text" name="q"  class="form-control" placeholder="Search for Torrents...">
                <span class="input-group-btn">
                    <button class="btn btn-dark" type="submit"><i class="bi bi-search"></i> Buscar</button>
                </span>
                </div>
            </div>
            </div>
        </form>

            <h1><a  href="/">Django Blog</a></h1>
        </div>
        <div class="content-fluid">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>

        <!--   FOOTER    -->

        <footer class="bg-secondary text-white text-center mt-5 p-1">
        Derechos Reservados 2010-2021
        </footer>


        <!-- JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    </body>
</html>